body {
  background-color: #ADE8ED;
  font-family: 'Montserrat';
}

.container {
  /*position: relative;
  top: 50%;
  transform: translateY(150%);*/

  text-align: center;
  height: 300px;
  width: 500px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.low-usage {
  color: green;
}

.med-usage {
  color: yellow;
}

.high-usage {
  color: red;
}

h1 {
  font-size: 1000%;
  margin: 0;
}

#weather {
  margin-top: 15px;
}

/* slider styling */

#slider {
  margin: auto;
}

#slider .rs-range-color {
  background-color: #18848E;
}

#slider .rs-border{
  background-color: #FFA04C;
}

#slider .rs-path-color  {
    background-color: #18848E;
    border-radius: 0;
}

#slider .rs-handle-dot:after {
    background-color: #18848E;
}

.rs-tooltip-text{
    font-size: 1000% !important;
    font-family: 'Montserrat';
}

/*buttons*/

button {
    background-color: #18848E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin: 0 5px;
}

button:hover {
    background-color: #79CED6;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 2;
    width: 300px;
    text-align: center;
}
