body {
  background-color: lightblue;
  font-family: 'Montserrat';
}

.container {
  /*position: relative;
  top: 50%;
  transform: translateY(150%);*/

  text-align: center;
  height: 300px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.low-usage {
  color: green;
}

.med-usage {
  color: yellow;
}

.high-usage {
  color: red;
}

h1 {
  font-size: 1000%;
  margin: 0;
}

/* slider styling */

#slider {
  margin: auto;
}

#slider .rs-range-color {
  background-color: #ff8d00;
}

#slider .rs-handle:after {
  background-color: #000000;
}

#slider .rs-border{
  background-color: yellow;
}
