body {
  background-color: #ADE8ED;
  font-family: 'Montserrat';
}

.container {
  /*position: relative;
  top: 50%;
  transform: translateY(150%);*/

  text-align: center;
  height: 300px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.low-usage {
  color: green;
}

.med-usage {
  color: yellow;
}

.high-usage {
  color: red;
}

h1 {
  font-size: 1000%;
  margin: 0;
}

/* slider styling */

#slider {
  margin: auto;
}

#slider .rs-range-color {
  background-color: #18848E;
}

#slider .rs-border{
  background-color: #FFA04C;
}

#slider .rs-path-color  {
    background-color: #18848E;
    border-radius: 0;
}

#slider .rs-handle-dot:after {
    background-color: #18848E;
}

.rs-tooltip-text{
    font-size: 1000% !important;
    font-family: 'Montserrat';
}
